/* category */
.swiper {
    height: 3.125rem !important;
}

.slide-swiper {
    padding: 0 1.875rem !important;
}

.category__item {
    text-align: center;
    line-height: 3.125rem;
    font-size: var(--font-small);
    font-weight: bold;
}

.category__link {
    padding: .75rem 0;
}

.category__link.active {
    border-bottom: 3px solid var(--color-blue);
}

.category__viewer-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 1.25rem 0;
}

.category__viewer-button {
    width: 1.75rem;
    height: 1.75rem;
    margin-left: 1.25rem;
}

.category__viewer-button:hover > .background-img-btn {
    filter: invert(26%) sepia(74%) saturate(3738%) hue-rotate(209deg) brightness(100%);
}

.category__content {
    margin-bottom: 1.5rem;
}

.category__content-item {
    flex-basis: 24%;
    margin: 0 .5% 1.5rem;
    overflow: hidden;  
}

.category__content-link {
    display: block;
    text-align: center;
}

.category__content-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category__content-title,
.category__content-author {
    display: inline-block;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.category__content-title > a:hover,
.category__content-author > a:hover {
    text-decoration: underline;
}

.category__content--gallery {
    /* display: none; */
    display: flex;
    flex-wrap: wrap;
}

.category__content--list {
    /* display: none;  */
    display: table;
    text-align: center;
    width: 100%;
    margin-bottom: 3rem;
    font-size: var(--font-small);
    font-weight: bold;
    border-collapse: collapse;
}

.category__content--list th {
    padding: 1rem;
    border-bottom: 2px solid var(--color-gray);
}

.category__content--list td {
    padding: .875rem;
    border-bottom: 1px solid var(--color-gray);
}

.category__content--board {
    /* display: none; */
    display: flex;
    flex-wrap: wrap;
}

/* search-form */
.search-form__container {
    padding-top: 0;
}

.tag-btn {
    filter: invert(68%) sepia(16%) saturate(1699%) hue-rotate(156deg) brightness(89%) contrast(93%);
}