.default-btn {
    padding: .5rem 1rem;
    font-size: var(--font-small);
}

.add-btn {
    position: absolute;
    width: 5%;
    right: 0;
    top: 0;
    background-color: transparent;
    color: var(--color-gray);
}

.add-btn:hover {
    background-color: transparent;
}

.container {
    max-width: 1024px;
}

.detail-review-content__content {
    margin-bottom: 1.25rem;
}

.detail-review-content__header {
    margin-bottom: 1.25rem;
}

.detail-review-content__author {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail-review-content__author-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail-review-content__author-image {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    overflow: hidden;
}

.detail-review-content__author-nickname {
    margin-left: .625rem;
    font-size: var(--font-medium-small);
    font-weight: bold;
}

.detail-review-content__tags {
    display: flex;
    margin: .625rem 0 0;
}

.detail-review-content__tag {
    margin-right: .5rem;
    color: var(--color-blue);
}

.detail-review-content__photo {
    height: 500px;
    margin-bottom: 1rem;
}

.detail-review-content__metadata {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail-review-content__satisfaction-level {
    display: flex;
    align-items: center;
    font-size: var(--font-medium-small);
    font-weight: bold;
}

.detail-review-content__created-date {
    font-size: var(--font-medium-small);
    font-weight: bold;
}

.detail-review-content__text {
    margin: 1rem 0;
    padding: 1.5rem;
    border: 1px solid var(--color-light-gray);
}

.detail-review-content__thumbs-up-button {
    display: flex;
    align-items: center;
}

.detail-review-content__thumbs-up-score {
    margin-left: .625rem;
    font-size: var(--font-medium-small);
    font-weight: bold;
}

.detail-review-content__comments > p {
    margin-bottom: 1rem;
    font-size: var(--font-medium);
    font-weight: bold;
}

.detail-review-content__comment-form {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.detail-review-content__comment-input {
    position: relative;
    width: 100%;
}

.detail-review-content__comment-input > input {
    padding-right: 3rem;
}

.detail-review-content__comment-input > input::placeholder {
    font-size: var(--font-micro);
}

.detail-review-content__comment {
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--color-light-gray);
}

.detail-review-content__comment-author {
    display: flex;
    align-items: center;
}

.detail-review-content__comment-author-image {
    margin-right: .625rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
}

.detail-review-content__comment-author-nickname {
    font-size: var(--font-small);
    font-weight: bold;
}

.detail-review-content__comment-text {
    padding: 1rem .625rem;
}

.pagination {
    border: none;
    width: 35%;
}

.pagination-btn { 
    border: 2px solid var(--color-gray);
    margin: 0 .625rem;
}