/* search-banner */
.search-banner {
    background-color: var(--color-dark-blue);
}

.search-banner__container {
    padding-top: 0;
    padding-bottom: 0;
}

.search-banner__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 33.875rem;
}

/* rol-pick */
.rol-pick__list {
    display: flex;
    justify-content: space-between;
    height: 30.625rem;
}

.rol-pick__left {
    flex-basis: 49%;
}

.rol-pick__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 49%;
}

.rol-pick__item {
    flex-basis: 48%;
    height: 100%;
    overflow: hidden;
}

.rol-pick__item:hover img{
    transform: scale(1.1);
}

.rol-pick__item:hover .rol-pick__description {
    opacity: 1;
    background-color: rgba(0, 0, 0, .5);
}

.rol-pick__link {
    position: relative;
    display: block;
    height: 100%;
}

.rol-pick__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    color: var(--color-white);
    font-size: var(--font-medium-large);
    font-weight: bold;
    text-align: center;
    transition: all .1s ease-in;
}

/* best-review */
.best-review {
    position: relative;
    border-bottom: 1px solid var(--color-light-blue);
}

.best-review__bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 55%;
    background-color: var(--color-light-blue);
}

.best-review__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.best-review__item {
    flex-basis: 24%;
}

.best-review__item:hover .best-review__img-container > img {
    transform: scale(1.1);
}

.best-review__img-container {
    overflow: hidden;
    height: 20.75rem;
}

.best-review__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    height: 9.375rem;
}

.best-review__body > h4{
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* hot-review */
.hot-review__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hot-review__item {
    flex-basis: 48%;
    overflow: hidden;
    height: 15.3125rem;
    margin-bottom: 1.25rem;
}

.hot-review__item:hover img{
    transform: scale(1.1);
}

.hot-review__link {
    display: block;
    height: 100%;
}