.sign-in__container {
    width: 700px;
}

.sign-in__content {
    padding: 4rem;
    border: 2px solid var(--color-gray);
    border-radius: 20px;
}

.sign-in__normal {
    margin-bottom: 3rem;
}

.sign-in__headings {
    margin-bottom: 1.875rem;
}

.sign-in__headings p {
    color: var(--color-gray);
    font-weight: 600;
}

.find-member a {
    color: var(--color-gray);
}

.find-member a:first-child {
    position: relative;
    margin-right: 1.25rem;
}

.find-member a:first-child::after {
    content: "";
    position: absolute;
    right: -1rem;
    bottom: .3125rem;
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 50%;
    background-color: var(--color-gray);
    pointer-events: none;
}

.sign-in__sns-list {
    display: flex;
    height: 4.375rem;
}

.sign-in__sns-item {
    height: 100%;
    margin-right: 1.875rem;
}

.sign-in__sns-link {
    display: block;
    height: 100%;
}

#sign-in__sns-google {
    transform: scale(1.1);
}