.mypage-side-menu {
    position: absolute;
    width: 200px;
}

.mypage-side-menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--font-medium);
}

.mypage-side-menu__item.active {
    font-weight: bold;
}

.mypage-side-menu__item {
    margin-bottom: 2.5rem;
}

.section__content {
    margin: 0 auto;
    width: 1024px;
}

.default-btn {
    padding: .625rem 1rem;
    font-size: var(--font-small);
}

/* profile */
.profile {
    position: relative;
}

.profile-info__list {
    padding: 2.25rem 1.75rem;
    border: 1px solid var(--color-light-gray);
    border-radius: 10px;
}

.profile-info__item {
    display: flex;
    align-items: center;
    padding: 1.5rem .625rem;
    border-bottom: 1px solid var(--color-light-gray);
}

.profile-info__field {
    flex-basis: 20%;
    color: var(--color-gray);
}

.profile-info__field-text {
    flex-basis: 70%;
}

.profile-info__field-image {
    overflow: hidden;
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 50%;
    cursor: pointer;
}

.profile-info__field-button {
    width: 4.375rem;
}

/* myreview */
.myreview {
    position: relative;
}

.myreview-content__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.myreview-content__item {
    position: relative;
    overflow: hidden;
    width: 30%;
    margin-bottom: 1.875rem;
}

.myreview-content__item:hover .myreview-content__title {
    transform: translateY(0);
    opacity: 1;
}

.myreview-content__title {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--color-white);
    text-align: center;
    line-height: 12rem;
    transform: translateY(70%);
    opacity: 0;
    transition: all .2s ease-out;
}

/* withdrawal */
.withdrawal-content__form {
    padding: 2.25rem 1.75rem;
    border: 1px solid var(--color-gray);
    border-radius: 10px;
}

.withdrawal-content__description {
    margin-bottom: 2.5rem;
    font-weight: bold;
}

.withdrawal-content__description--red {
    color: var(--color-red);
}

.withdrawal-content__label {
    margin-left: 30px;
}

.withdrawal-content__buttons {
    display: flex;
    justify-content: center;
}

.withdrawal-content__button {
    margin: 0 .625rem;
}