.default-btn {
    padding: 0.65rem;
    font-size: var(--font-micro);
}

.form__group input:not(:first-child) {
    margin-top: .5rem;
}

.sign-up-model__container {
    max-width: 768px;
}

.sign-up-model__form {
    padding: 4rem;
    border: 2px solid var(--color-gray);
    border-radius: 20px;
}

.email-symbol {
    margin: 0 0.625rem;
    line-height: 2.5rem;
}

.sign-up-model__submit-button {
    width: 20%;
    margin: 1.625rem auto 0;
}