:root {
    --font-big: 2.5rem;
    --font-large: 2.25rem;
    --font-medium-large: 2rem;
    --font-medium: 1.25rem;
    --font-medium-small: 1.125rem;
    --font-small: 1rem;
    --font-micro: 0.875rem;

    --color-black: #000;
    --color-white: #fff;
    --color-dark-white: #E1D9D1;
    --color-light-white: #ededed;
    --color-gray: #757575;
    --color-dark-gray: #616161;
    --color-light-gray: #bdbdbd;
    --color-blue: #0C9EE8;
    --color-light-blue: #eceeff;
    --color-dark-blue: #002761;
    --color-turquoise: #42b2dc;
    --color-red: #d50000;
}

@font-face {
    font-family: 'rix';
    src: url('../font/rixGothic/RIXGOL.TTF') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'rix';
}

a {
    text-decoration: none;
    color: var(--color-black);
}

h1 {
    font-size: var(--font-big);
}

h2 {
    font-size: var(--font-large);
}

h3 {
    font-size: var(--font-medium-large);
}

h4 {
    font-size: var(--font-medium);
}

h5 {
    font-size: var(--font-medium-small);
}

p {
    font-size: var(--font-small);
}

/* input */
input::-ms-clear,
input::-ms-reveal{
	display:none;width:0;height:0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
	display:none;
}

input {
    display: block;
    padding: 0.625rem 0.875rem;
    width: 100%;
    border: 1px solid var(--color-gray);
    border-radius: 4px;
    color: var(--color-black);
    font-size: var(--font-small);
}

input[type="checkbox"] {
    display: inline;
    width: auto;
    margin-right: 0.3125rem;
}

/* select */
select {
    display: block;
    padding: 0.625rem 0.875rem;
    width: 100%;
    border: 1px solid var(--color-gray);
    border-radius: 4px;
    color: var(--color-black);
    font-size: var(--font-small);
}

/* form */
.form__group {
    margin-bottom: 1rem;
}

.form__row-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.form__input-container {
    flex-basis: 70%;
}

.form__label:not(:last-child) {
    display: block;
    margin-bottom: 0.625rem;
    font-size: var(--font-medium-small);
    font-weight: bold;
}

/* img */
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

/* textarea */
textarea {
    width: 100%;
    height: 13.25rem;
    padding: 0.625rem 0.875rem;
    resize: none;
    overflow: hidden;
    font-size: var(--font-small);
}

textarea::placeholder {
    line-height: 12rem;
}

/* button */
.default-btn,
.default-btn--white {
    width: 100%;
    height: 100%;
    padding: 1rem;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: var(--color-turquoise);
    color: var(--color-white);
    font-size: var(--font-medium-small);
    font-weight: 600;
    border-radius: 4px;
}

.default-btn:hover {
    background-color: #27a8cf;
}

.default-btn--white {
    border: 1px solid var(--color-black);
    background-color: var(--color-white);
    color: var(--color-black);
}
.default-btn--white:hover {
    background-color: var(--color-light-white);
}

.util-btn {
    width: 100%;
    height: 100%;
    font-size: var(--font-micro);
    letter-spacing: 0.15625rem;
    font-weight: 500;
    color: var(--color-black);
    background-color: var(--color-white);
    border: none;
    border-radius: 45px;
    cursor: pointer;
    outline: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}

.util-btn:hover {
    background-color: var(--color-blue);
    box-shadow: 0px 15px 20px rgba(46, 73, 229, 0.4);
    color: var(--color-white);
    transform: translateY(-7px);
}

.viewer-btn {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;    
    background-repeat: no-repeat;
    filter: invert(10%) sepia(56%) saturate(4338%) hue-rotate(204deg) brightness(91%);
    transition: all .1s ease-in;
}

.viewer-btn.active {
    filter: invert(26%) sepia(74%) saturate(3738%) hue-rotate(209deg) brightness(100%);
}

.add-btn {
    width: 100%;
    height: 100%;
    padding: .5rem .3rem;
    background-color: var(--color-light-gray);
    color: var(--color-white);
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    font-size: var(--font-micro);
    font-weight: 500;
    transition: all .1s ease-in;
}

.add-btn:hover {
    background-color: var(--color-gray);
}

.remove-btn {    
    display: inline-block;
    width: 1rem;
    height: 100%;
    margin-left: .125rem;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    color: var(--color-gray);
    font-size: var(--font-micro);
}

.remove-btn:hover {
    color: var(--color-black);
    background-color: var(--color-dark-white);
}

.thumbs-up-btn {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../icon/heart-regular.svg);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.thumbs-up-btn.active {
    background-image: url(../icon/heart-solid.svg);
    filter: invert(12%) sepia(83%) saturate(7279%) hue-rotate(359deg) brightness(116%) contrast(120%);
}

/* section */
.container {
    max-width: 1440px;
    padding: 4rem 0;
    margin: 0 auto;
}

.section__headings {
    margin-bottom: 4rem;
    text-align: center;
}

.section__heading {
    margin-bottom: 1.5rem;
    font-size: var(--font-large);
}

.section__heading--white {
    color: var(--color-white);
}

.section__subheading {
    margin-bottom: 1.5rem;
    font-size: var(--font-medium-small);
    color: var(--color-gray);
}

/* banner */
.banner {
    background-color: var(--color-light-blue);
}

.banner .section__headings {
    margin-bottom: 0;
    width: 30%;
    text-align: left;
}

.banner .section__subheading {
    color: var(--color-black);
    font-weight: bold;
}

/* header */
.header__container {
    padding-top: 0;
    padding-bottom: 0;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;
}

.header__logo-area {
    flex-basis: 15%;
    text-align: center;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    flex-basis: 85%;
    align-items: center;
    width: 100%;
}

.header__menu {
    display: flex;
    font-size: var(--font-medium-small);
    font-weight: 800;
}

.header__menu-item {
    height: 100%;
    margin-left: 1.875rem;
}

.header__menu-link {
    display: block;
    padding: 1rem 0;
}

.header__util-buttons {
    display: flex;
    justify-content: flex-end;
}

.header__util-button {
    width: 7.8125rem;
    height: 2.5rem;
}

.header__util-button:first-child {
    margin-right: 0.625rem;
}

/* footer */
.footer {
    background-color: var(--color-dark-blue);
}

.footer .section__headings {
    margin-bottom: 2rem;
}

.footer__contact {
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-bottom: 1.875rem;  
}

.footer__contact-item {
    width: 2.25rem;
    height: 2.25rem;
    margin: 0 1rem;
}

.footer__contact-link {
    display: block;
    height: 100%;;
    transition: all 0.1s ease-in;
}

.footer__contact-link:hover {
    transform: scale(1.1);
}

.footer__contact-link img {
    filter: invert(99%) sepia(0%) saturate(3327%) hue-rotate(228deg) brightness(121%) contrast(87%);
}

.footer__copyright {
    text-align: center;
    color: var(--color-dark-white);
}

/* switch */
.switch-area {
    display: flex;
    justify-content: end;
    margin-bottom: 2rem;
}

.switch {
    position: relative;
    height: 45px;
    width: 170px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.switch-label {
    position: relative;
    z-index: 2;
    float: left;
    width: 85px;
    line-height: 45px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.35);
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
    cursor: pointer;
}

.switch-label:active {
    font-weight: bold;
}

.switch-label-off {
    padding-left: 2px;
}

.switch-label-on {
    padding-right: 2px;
}

.switch-input {
    display: none;
}

.switch-input:checked + .switch-label {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.65);
    text-shadow: 0 1px rgba(255, 255, 255, 0.25);
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
}

.switch-input:checked + .switch-label-on ~ .switch-selection {
    left: 85px;
}

.switch-selection {
    display: block;
    position: absolute;
    z-index: 1;
    top: 1px;
    left: 1px;
    width: 85px;
    height: 45px;
    background: #3aa2d0;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(top, #4fc9ee, #3aa2d0);
    background-image: -moz-linear-gradient(top, #4fc9ee, #3aa2d0);
    background-image: -o-linear-gradient(top, #4fc9ee, #3aa2d0);
    background-image: linear-gradient(to bottom, #4fc9ee, #3aa2d0);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
}

/* search */
.search-form {
    position: relative;
    width: 37.5rem;
    margin: 0 auto;
}

.search-tag {
    display: none;
    position: relative;
    width: 80%;
    padding: .5rem;
    padding-left: 2.4rem;
}

.search-tag.active {
    display: block;
}

.tag-btn {
    height: 34px;
    width: 34px;
    border: none;
    z-index: 100;
    background: url(../icon/tag-horizontal.svg) no-repeat center / 100% 100%;
    cursor: pointer;
    filter: invert(100%) sepia(99%) saturate(0%) hue-rotate(299deg) brightness(107%) contrast(100%);
}

.tag-btn:hover {
    filter: invert(100%) sepia(4%) saturate(163%) hue-rotate(64deg) brightness(112%) contrast(86%);
}

.x-btn {
    position: absolute;
    top: 8px;
    left: 2px;
    height: 34px;
    width: 34px;
    z-index: 100;
    background: url(../icon/xmark.svg) no-repeat center / 100% 100%;
    border: 2px solid var(--color-black);
    border-radius: 4px;
    cursor: pointer;
    filter: invert(100%) sepia(99%) saturate(0%) hue-rotate(299deg) brightness(107%) contrast(100%);
}

.x-btn:hover {
    filter: invert(100%) sepia(4%) saturate(163%) hue-rotate(64deg) brightness(112%) contrast(86%);
}

.tag-item {
    height: 34px;
    padding: 0 .7rem;
    border: none;
    border-radius: 4px;
    font-size: var(--font-micro);
    font-weight: bold;
    cursor: pointer;
}

.search-form__search-bar {
    display: flex;
    width: 100%;
    height: 3.125rem;
    margin: .25rem 0 .625rem;
}

.search-form__input {
    width: 31.25rem;
    padding: 0 1rem;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    border-radius: 0;
    outline: none;
    font-size: var(--font-micro)
}

.search-form__submit {
    width: 6.25rem;
    background-color: var(--color-blue);
    border: 1px solid var(--color-gray);
    color: var(--color-white);
    text-transform: uppercase;
    text-align: center;
    font-size: var(--font-micro);
    font-weight: 700;
    letter-spacing: .0625rem;
    cursor: pointer;
}

/* rating */
.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .625rem;
}

.rating__star {
    width: 1.25rem;
    height: 1.25rem;
}

.rating__star img {
    filter: invert(82%) sepia(68%) saturate(5238%) hue-rotate(358deg) brightness(104%) contrast(102%);
}

.rating__score {
    margin-left: .25rem;
    font-size: var(--font-medium-small);
    color: var(--color-gray);
}

/* pagination */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 308px;
    height: 40px;
    margin: 0 auto;
}

.pagination-btn {
    display: block;
    width: 40px;
    height: 100%;
    line-height: 40px;
    font-size: var(--font-micro);
    font-weight: bold;
    text-align: center;
}

.pagination-btn {
    border: 1px solid var(--color-gray);
}

.pagination-btn.pagination-next-btn,
.pagination-btn.pagination-prev-btn {
    width: 54px;
    color: var(--color-white);
    background-color: var(--color-blue);
    border-radius: 4px 0 0 4px;
}

.pagination-btn.pagination-prev-btn {
    border-radius: 4px 0 0 4px;
}

.pagination-btn.pagination-next-btn {
    border-radius: 0 4px 4px 0;
}