<?xml version="1.0" encoding="UTF-8" ?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schmaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd" version="2.0">
    <persistence-unit name="default">
        <class>com.example.dataaccess.Member</class> <!--    RDB와 매핑될 오브젝트인 엔티티 클래스들을 직접 지정할 수 있다.    -->
        <exclude-unlisted-classes/> <!--   엔티티 클래스를 자동스캔하지 않도록 지정한다. 이 태그를 제거하면 클래스패스에서 @Entity 애노테이션이 붙은 모든 클래스를 자동등록한다.     -->
        <properties>
            <property name="eclipselink.weaving" value="false"/> <!--    바이트코드 위빙 기능을 사용하지 않도록 설정한다. 지연된 로딩 같은 기능을 사용하지 않거나 별도의 컴파일을 통해 엔티티 클래스를 확장할 경우 위빙을 사용하지 않게 한다.    -->
        </properties>
    </persistence-unit>
</persistence>