<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta author="LeeJeongHwan">
        <meta description="내가 내돈으로 직접 주고 산 제품이나 경험과 같은 모든 것들의 좋았던 점 또는 아쉬웠던 점을 사람들과 공유할 수 있는 웹 애플리케이션">
        <link rel="shortcut icon" href="#">
        <link rel="stylesheet" href="../css/style.css" th:href="@{/css/style.css}">
        <link rel="stylesheet" href="../css/loginForm.css" th:href="@{/css/loginForm.css}">
        <title>로그인</title>
    </head>
<body>
    <header th:insert="~{fragment/fragment-header :: header}"></header>

    <main class="login">
        <section class="banner">
            <div class="banner__container container">
                <article class="section__content">
                    <header class="section__headings">
                        <h2 class="section__heading">리뷰오브레전드 로그인</h2>
                        <p class="section__subheading">회원이 되어 회원유형에 특화된 서비스를 이용해보세요</p>
                    </header>
                </article>
            </div>
        </section>
        <!-- banner -->

        <section class="login-form">
            <div class="login-form__container container">
                <div class="login-form__inner">
                    <article class="login-form-type">
                        <header class="login-form-type__headings">
                            <h3 class="login-form-type__heading">일반 로그인</h3>
                            <p class="login-form-type__subheading">아이디/비밀번호를 활용한 로그인 방식입니다.</p>
                        </header>
                        <form action="loginForm.html" th:action method="post" class="login-form-type__form">
                            <input type="hidden" th:name="_csrf" th:value="${_csrf.token}"/>
                            <div class="form__group form__row-wrapper">
                                <div class="form__input-container">
                                    <label class="form__label">
                                        <input type="email" name="username" placeholder="아이디">
                                    </label>
                                    <label class="form__label">
                                        <input type="password" name="password" placeholder="비밀번호">
                                    </label>
                                </div>
                                <div>
                                    <button type="submit" class="default-btn">로그인</button>
                                </div>
                            </div>
                            <div class="form__group form__row-wrapper">
                                <label for="remember-me" class="form__label">
                                    <input type="checkbox" name="remember-me" id="remember-me">아이디 저장
                                </label>
                                <div class="find-account">
                                    <a href="#">아이디 찾기</a>
                                    <a href="#">비밀번호 찾기</a>
                                </div>
                            </div>
                            <p th:if="${error}" th:text="${errorMessage}" class="error-message">알수 없는 이유로 로그인에 실패하였습니다. 관리자에게 문의하세요.</p>
                        </form>
                    </article>
                    <article class="login-form-type">
                        <header class="login-form-type__headings">
                            <h3 class="login-form-type__heading">SNS 로그인</h3>
                            <p class="login-form-type__subheading">SNS 계정을 활용한 로그인 방식입니다.</p>
                        </header>
                        <ul class="login-form-type__oauth2">
                            <li class="login-form__oauth2-provider">
                                <a href="/oauth2/authorization/kakao" class="login-form__oauth2-link">
                                    <img src="../icon/kakaotalk.png" th:src="@{/icon/kakaotalk.png}" alt="kakaotalk">
                                </a>
                            </li>
                            <li class="login-form__oauth2-provider">
                                <a href="/oauth2/authorization/naver" class="login-form__oauth2-link">
                                    <img src="../icon/naver.png" th:src="@{/icon/naver.png}" alt="naver">
                                </a>
                            </li>
                            <li class="login-form__oauth2-provider">
                                <a href="/oauth2/authorization/google" class="login-form__oauth2-link" style="transform: scale(1.1);">
                                    <img src="../icon/google.svg" th:src="@{/icon/google.svg}" alt="google">
                                </a>
                            </li>
                        </ul>
                    </article>
                </div>
            </div>
        </section>
        <!-- login-form -->
        
    </main>

    <footer th:insert="~{fragment/fragment-footer :: footer}"></footer>
</body>
</html>