* { box-sizing: border-box; }
ul { padding: 0; }
body { background-color: #ced3df; text-align: center; }
button { background-color: transparent; border: none; outline: none; cursor: pointer; }
.list { margin: auto; width: 400px; background-color: #f1f0f7; border-radius: 20px;
        -webkit-box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.31); 
        box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.31); }
.header { padding: 8px; height: 48px; font-size: 24px; background: rgb(204,175,202);
    background: -moz-linear-gradient(118deg, rgba(204,175,202,1) 0%, rgba(192,222,242,1) 100%);
    background: -webkit-linear-gradient(118deg, rgba(204,175,202,1) 0%, rgba(192,222,242,1) 100%);
    background: linear-gradient(118deg, rgba(204,175,202,1) 0%, rgba(192,222,242,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ccafca",endColorstr="#c0def2",GradientType=1);
    border-radius: 20px 20px 0 0; color: white; }
.items { overflow-y: auto; height: 500px; }
.item { display: flex; justify-content: space-between; padding: 8px 32px }
.item__delete { transition: all 300ms ease-in; font-size: 16px; }
.item__delete:hover { transform: scale(1.1); color: red; }
.item__check { font-size: 16px; }
.item__check:hover { transform: scale(1.1); color: red; }
.item__check.checked { color: red; }
.item__name.checked { text-decoration: line-through; }
.item__divider { margin: auto; width: 90%; height: 1px; background-color: lightgray; }
.footer { background: rgb(204,175,202);
    background: -moz-linear-gradient(118deg, rgba(204,175,202,1) 0%, rgba(192,222,242,1) 100%);
    background: -webkit-linear-gradient(118deg, rgba(204,175,202,1) 0%, rgba(192,222,242,1) 100%);
    background: linear-gradient(118deg, rgba(204,175,202,1) 0%, rgba(192,222,242,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ccafca",endColorstr="#c0def2",GradientType=1);
    border-radius: 0 0 20px 20px; }
.footer__input { padding: 0 16px; width: 100%; height: 32px; border: none; outline: none; font-size: 24px; }
.footer__button { width: 48px; height: 48px; background-color: black; transition: transform 300ms ease-in; border-radius: 50%; color: white; font-size: 28px; }
.footer__button:hover { transform: scale(1.1); }