@charset "utf-8";

/* 레이아웃 */
#header {
  width: 100%;
  height: 63px;
  border-bottom: 1px solid #c6c6c6;
}

#banner {
  position: relative;
}

/* 로우 영역 */
.row {
  padding: 0 24px;
}

/* 가운데 영역 */
.container {
  position: relative;
  width: 1280px;
  margin: 0 auto;
  background: rgb(0, 0, 0, 0);
}

/* 헤더 영역 */
.header {
}

.header h1 {
  float: left;
}
.header h1 em {
  display: inline-block;
  padding: 15px 8px 5px 0;
}
.header h1 em img {
  width: 155px;
}
.header h1 strong {
  display: block;
  position: absolute;
  left: 194px;
  top: 23px;
}
.header h1 strong img {
  width: 126px;
}

.header .nav {
  float: right;
}
.header .nav ul {
  border-left: 1px solid #c6c6c6;
}
.header .nav ul li {
  width: 103px;
  float: left;
  text-align: center;
  border-right: 1px solid #c6c6c6;
}
.header .nav ul li a {
  display: block;
  padding: 19px 10px;
  font-size: 17px;
  font-weight: 700;
  color: #444;
}

/* 배너 */
.banner__menu {
  position: absolute;
  left: 0;
  top: 20px;
  width: 100%;
  height: 100px;
}
.banner__menu a {
  color: #fff;
  font-size: 16px;
  transition: all 0.3s;
}
.banner__menu a:hover {
  color: #c1c1c1;
}

.bm__left {
  float: left;
}
.bm__left ul {
  padding-top: 7px;
}
.bm__left ul li {
  display: inline;
  position: relative;
  margin-right: 30px;
}
.bm__left ul li.total {
  margin-right: 20px;
}
.bm__left ul li.total a {
  display: inline-block;
  padding: 3px 10px;
  border: 1px solid #fff;
  transition: all 0.3s;
  font-size: 14px;
}
.bm__left ul li.total a:hover {
  background: #fff;
  border-color: #000;
  color: #000;
}

.bm__right {
  float: right;
  overflow: hidden;
}
.bm__right ul {
  float: left;
}
.bm__right ul:first-child {
  padding-top: 7px;
}
.bm__right ul li {
  display: inline;
  position: relative;
  margin-right: 20px;
  text-align: center;
}
.bm__right ul li.line {
  margin-right: 30px;
}
.bm__right ul li.white {
  margin-right: 10px;
}
.bm__right ul li.white a {
  display: inline-block;
  padding: 7px 30px 9px 30px;
  width: 80px;
  background-color: #fff;
  border: 1px solid #fff;
  color: #3a0e6a;
}
.bm__right ul li.purple {
  margin-right: 0;
}
.bm__right ul li.purple a {
  display: inline-block;
  padding: 7px 30px 9px 30px;
  width: 80px;
  background-color: #3a0e6a;
  border: 1px solid #6e40c4;
  color: #fff;
}

.bm__left li.line::after,
.bm__right li.line::after {
  content: "";
  position: absolute;
  top: 2px;
  right: -18px;
  width: 1px;
  height: 14px;
  background: #fff;
}
