@charset "utf-8";

/* 레이아웃 */
#mNav {
  display: none;
  position: absolute;
  top: 10px;
  right: 14px;
}

#header {
  width: 100%;
  border-bottom: 1px solid #c6c6c6;
}

#banner {
  position: relative;
}

/* 로우 영역 */
.row {
  padding: 0 28px;
}

/* 가운데 영역 */
.container {
  position: relative;
  width: 1280px;
  margin: 0 auto;
  background: rgb(0, 0, 0, 0);
}

/* 모바일 메뉴 */
.ham {
  display: block;
  width: 25px;
  height: 10px;
  padding: 15px 10px 10px 10px;
}
.ham span {
  display: block;
  position: relative;
  width: 25px;
  height: 4px;
  background: #39106a;
}
.ham span::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 25px;
  height: 4px;
  background: #39106a;
}
.ham span::after {
  content: "";
  position: absolute;
  left: 0;
  top: -7px;
  width: 25px;
  height: 4px;
  background: #39106a;
}

/* 헤더 영역 */
.header h1 {
  float: left;
}
.header h1 em {
  display: inline-block;
  padding: 15px 8px 5px 0;
}
.header h1 em img {
  width: 155px;
}
.header h1 strong {
  display: block;
  position: absolute;
  left: 194px;
  top: 23px;
}
.header h1 strong img {
  width: 126px;
}

.header .nav {
  float: right;
}
.header .nav ul {
  border-left: 1px solid #c6c6c6;
}
.header .nav ul li {
  width: 103px;
  float: left;
  text-align: center;
  border-right: 1px solid #c6c6c6;
}
.header .nav ul li a {
  display: block;
  padding: 19px 10px;
  font-size: 17px;
  font-weight: 700;
  color: #444;
}

/* 배너 */
.banner__menu {
  position: absolute;
  left: 0;
  top: 20px;
  width: 100%;
  height: 100px;
  z-index: 10;
}
.banner__menu a {
  color: #fff;
  font-size: 16px;
  transition: all 0.3s;
}
.banner__menu a:hover {
  color: #c1c1c1;
}

.bm__left {
  float: left;
}
.bm__left ul {
  padding-top: 7px;
}
.bm__left ul li {
  display: inline;
  position: relative;
  margin-right: 30px;
}
.bm__left ul li.total {
  margin-right: 20px;
}
.bm__left ul li.total a {
  display: inline-block;
  padding: 3px 10px;
  border: 1px solid #fff;
  transition: all 0.3s;
  font-size: 14px;
}
.bm__left ul li.total a:hover {
  background: #fff;
  border-color: #000;
  color: #000;
}

.bm__right {
  float: right;
  overflow: hidden;
}
.bm__right ul {
  float: left;
}
.bm__right ul:first-child {
  padding-top: 7px;
}
.bm__right ul li {
  display: inline;
  position: relative;
  margin-right: 20px;
  text-align: center;
}
.bm__right ul li.line {
  margin-right: 30px;
}
.bm__right ul li.white {
  margin-right: 10px;
}
.bm__right ul li.white a {
  display: inline-block;
  padding: 7px 30px 9px 30px;
  width: 80px;
  background-color: #fff;
  border: 1px solid #fff;
  color: #3a0e6a;
}
.bm__right ul li.purple {
  margin-right: 0;
}
.bm__right ul li.purple a {
  display: inline-block;
  padding: 7px 30px 9px 30px;
  width: 80px;
  background-color: #3a0e6a;
  border: 1px solid #6e40c4;
  color: #fff;
}

.bm__left li.line::after,
.bm__right li.line::after {
  content: "";
  position: absolute;
  top: 2px;
  right: -18px;
  width: 1px;
  height: 14px;
  background: #fff;
}

/* 슬라이드 */
.slider {
  width: 100%;
  height: 600px;
}
.slider .ss1 {
  background: url(../img/swiper01.jpg) center / cover no-repeat;
}
.slider .ss2 {
  background: url(../img/main_slider02_2000.jpg) center / cover no-repeat;
}
.slider .ss3 {
  background: url(../img/main_slider03_2000.jpg) center / cover no-repeat;
}

.swiper-slide h2 {
  display: inline-block;
  position: relative;
  margin-top: 200px;
  font-size: 62px;
  color: #fff;
  line-height: 70px;
}
.swiper-slide h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -35px;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
}
.swiper-slide h2 em {
  display: block;
  font-size: 59px;
  font-weight: 100;
}
.swiper-slide p {
  padding-top: 55px;
  font-size: 27px;
  color: #fff;
}

/* 미디어 쿼리 */
@media (max-width: 1290px) {
  .container {
    width: 100%;
  }
  .header .nav ul li {
    width: 93px;
  }
  .header .nav ul li a {
    padding: 17px 10px;
    font-size: 15px;
  }
  .header h1 em {
    padding: 11px 8px 5px 0;
  }
  .header h1 strong {
    top: 19px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}
@media (max-width: 1024px) {
  #mNav {
    display: block;
  }
  .nav {
    display: none;
  }
  .row {
    padding: 0 24px;
  }
  .header h1 {
    float: none;
    text-align: center;
  }
  .header h1 strong {
    left: 24px;
  }
  .bm__left {
    display: none;
  }
  .bm__right ul:first-child {
    display: none;
  }
}
@media (max-width: 960px) {
  .slider {
    height: 500px;
  }
  .swiper-slide h2 {
    margin-top: 170px;
    font-size: 37px;
    line-height: 45px;
  }
  .swiper-slide h2::after {
    bottom: -15px;
  }
  .swiper-slide h2 em {
    font-size: 34px;
  }
  .swiper-slide p {
    padding-top: 35px;
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  #mNav {
    right: 6px;
  }
  .row {
    padding: 0 16px;
  }
  .header h1 {
    text-align: left;
  }
  .header h1 strong {
    display: none;
  }
}
@media (max-width: 600px) {
  .slider {
    height: 400px;
  }
  .swiper-slide h2 {
    margin-top: 140px;
    font-size: 24px;
    line-height: 35px;
  }
  .swiper-slide h2::after {
    bottom: -5px;
  }
  .swiper-slide h2 em {
    font-size: 20px;
  }
  .swiper-slide p {
    padding-top: 25px;
    font-size: 14px;
  }

  .banner__menu {
    top: 16px;
  }
  .bm__right ul li.white a {
    font-size: 14px;
    padding: 3px 5px 5px 5px;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    border-color: #fff;
  }
  .bm__right ul li.purple a {
    font-size: 14px;
    padding: 3px 5px 5px 5px;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    border-color: #fff;
  }
  .swiper-pagination-bullet {
    width: 13px !important;
    height: 13px !important;
  }
}
@media (max-width: 480px) {
}
@media (max-width: 320px) {
}
