<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="LeeJeongHwan">
    <meta description="내가 내돈으로 직접 주고 산 제품이나 경험과 같은 모든 것들의 좋았던 점 또는 아쉬웠던 점을 사람들과 공유할 수 있는 웹 애플리케이션">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="../css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../css/review.css" th:href="@{/css/review.css}">
    <script src="../js/review.js" th:src="@{/js/review.js}" defer></script>
    <title>Title</title>
</head>
<body>
    <header th:insert="~{fragment/fragment-header :: header}"></header>
    <!-- header -->

    <main class="review">
        <section class="detail-review" th:object="${review}">
            <div class="detail-review__container container">
                <article class="section__content">
                    <header class="detail-review__header">
                        <div class="detail-review__author">
                            <a th:href="@{/myPage/profile/{id}(id=*{member.id})}" class="detail-review__author-info">
                                <div class="detail-review__author-image">
                                    <img src="../img/sample1.jpg" th:src="*{member.profileImage}">
                                </div>
                                <span class="detail-review__author-nickname" th:text="*{member.nickname}">nickname</span>
                            </a>
                            <div class="detail-review__author-follow-button">
                                <button class="default-btn">+ 팔로우</button>
                            </div>
                        </div>
                        <ul class="detail-review__tags">
                            <li class="detail-review__tag" th:each="reviewTag : *{reviewTag}" th:text="'#' + ${reviewTag.tag.name}">#태그</li>
                        </ul>
                    </header>
                    <div class="detail-review__content">
                        <h2 class="section__heading" th:text="*{title}">제목</h2>
                        <ul class="detail-review__photo-list">
                            <li class="detail-review__photo" th:each="image : *{images}">
                                <img th:src="|/images/${image.getStoreFileName()}|" alt="리뷰사진">
                            </li>
                        </ul>
                        <div class="detail-review__metadata">
                            <div class="detail-review__satisfaction-level">
                                <span>만족도</span>
                                <div class="rating" th:switch="*{rating}">
                                    <div class="rating__star" th:case=0>
                                        <img src="../icon/star-regular.svg" alt="star">
                                        <img src="../icon/star-regular.svg" alt="star">
                                        <img src="../icon/star-regular.svg" alt="star">
                                        <img src="../icon/star-regular.svg" alt="star">
                                        <img src="../icon/star-regular.svg" alt="star">
                                    </div>
                                    <div class="rating__star" th:case=1>
                                        <img src="../icon/star-solid.svg" alt="star">
                                        <img src="../icon/star-regular.svg" alt="star">
                                        <img src="../icon/star-regular.svg" alt="star">
                                        <img src="../icon/star-regular.svg" alt="star">
                                        <img src="../icon/star-regular.svg" alt="star">
                                    </div>
                                    <div class="rating__star" th:case=2>
                                        <img src="../icon/star-solid.svg" alt="star">
                                        <img src="../icon/star-solid.svg" alt="star">
                                        <img src="../icon/star-regular.svg" alt="star">
                                        <img src="../icon/star-regular.svg" alt="star">
                                        <img src="../icon/star-regular.svg" alt="star">
                                    </div>
                                    <div class="rating__star" th:case=3>
                                        <img src="../icon/star-solid.svg" alt="star">
                                        <img src="../icon/star-solid.svg" alt="star">
                                        <img src="../icon/star-solid.svg" alt="star">
                                        <img src="../icon/star-regular.svg" alt="star">
                                        <img src="../icon/star-regular.svg" alt="star">
                                    </div>
                                    <div class="rating__star" th:case=4>
                                        <img src="../icon/star-solid.svg" alt="star">
                                        <img src="../icon/star-solid.svg" alt="star">
                                        <img src="../icon/star-solid.svg" alt="star">
                                        <img src="../icon/star-solid.svg" alt="star">
                                        <img src="../icon/star-regular.svg" alt="star">
                                    </div>
                                    <div class="rating__star" th:case=5>
                                        <img src="../icon/star-solid.svg" alt="star">
                                        <img src="../icon/star-solid.svg" alt="star">
                                        <img src="../icon/star-solid.svg" alt="star">
                                        <img src="../icon/star-solid.svg" alt="star">
                                        <img src="../icon/star-solid.svg" alt="star">
                                    </div>
                                </div>
                            </div>
                            <span class="detail-review__created-date" th:text="*{createdDate}">2022.09.26</span>
                        </div>
                        <div class="detail-review__description" th:text="*{description}">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </div>
                    </div>
                    <div class="detail-review__like">
                        <div class="detail-review__like-button anonymous" sec:authorize="isAnonymous()">
                            <button class="like-btn"></button>
                        </div>
                        <div class="detail-review__like-button" sec:authorize="isAuthenticated()">
                            <button class="like-btn active" th:unless="${isLike}"></button>
                            <button class="like-btn" th:if="${isLike}"></button>
                        </div>
                        <span class="detail-review__like-text">좋아요</span>
                        <span class="detail-review__like-count" th:text="*{likeCount}">10</span>
                    </div>
                </article>
            </div>
        </section>
        <!-- detail-review -->

        <section class="comments">
            <div class="comments__container container">
                <article class="section__content">
                    <h2 class="section__heading comment">댓글</h2>
                    <p class="section__subheading comment" sec:authorize="isAnonymous()">댓글 작성은 로그인후 이용할 수 있습니다.</p>
                    <div class="comments__write" th:object="${member}" sec:authorize="isAuthenticated()">
                        <div class="form__row-wrapper">
                            <div class="comments__author">
                                <div class="comments__author-image">
                                    <img src="../img/sample1.jpg" th:src="*{profileImage}" alt="프로필">
                                </div>
                                <span class="comments__author-nickname" th:text="*{nickname}">nickname</span>
                            </div>
                            <form action="/review/1" th:action="@{/review/{id}(id=${review.id})}" method="post" class="comments__form">
                                <div class="comments__input">
                                    <input type="text" name="content" placeholder="칭찬과 격려의 글을 남겨주세요 :)">
                                    <button type="submit" class="add-btn">입력</button>
                                </div>
                            </form>
                        </div>
                        <div class="field-error" th:errors="${commentDto.content}" th:classappend="error-message">text</div>
                    </div>
                    <div class="comments__comment" th:each="comment : ${comments}">
                        <div class="comments__author">
                            <a href="#" th:href="@{/myPage/profile/{id}(id=${comment.member.id})}" class="comments__author-link">
                                <div class="comments__author-image">
                                    <img src="../img/sample3.jpg" th:src="${comment.member.profileImage}">
                                </div>
                                <span class="comments__author-nickname" th:text="${comment.member.nickname}">nickname</span>
                            </a>
                        </div>
                        <div class="comments__comment-content" th:text="${comment.content}">댓글</div>
                    </div>
                </article>
            </div>
        </section>
        <!-- detail-review-content__comments -->
    </main>

    <footer th:insert="~{fragment/fragment-footer :: footer}"></footer>
    <!-- footer -->
</body>
</html>