<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost/testdb"/>
        <property name="username" value="root"/>
        <property name="password" value="1234"/>
    </bean>

    <bean id="userDao" class="com.example.springapplication.UserDaoJdbc">
        <property name="dataSource" ref="dataSource"/>
<!--        <property name="sqlAdd" value="insert into users(id, name, password, email, level, login, recommend) values (?, ?, ?, ?, ?, ?, ?)"/>-->
        <property name="sqlService" ref="sqlService"/>
    </bean>

    <bean id="sqlService" class="com.example.springapplication.SimpleSqlService">
        <property name="sqlMap">
            <map>
                <entry key="userAdd" value="insert into users(id, name, password, email, level, login, recommend) values (?, ?, ?, ?, ?, ?, ?)"/>
                <entry key="userGet" value="select * from users where id = ?"/>
                <entry key="userGetAll" value="select * from users order by id"/>
                <entry key="userDeleteAll" value="delete from users"/>
                <entry key="userGetCount" value="select count(*) from users"/>
                <entry key="userUpdate" value="update users set name = ?, password = ?, level = ?, login = ?, recommend = ?, email = ? where id = ?"/>
            </map>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

</beans>