/* Global */

:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-sky: #4fc3f7;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-orange: #feb546;
    --color-light-black: #222222;
    --color-black: #000000;
    --color-blue: #2979ff;
    --color-red: #d50000;
  
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 4px;

    /* Annimation */
    --animation-duration: 300ms;
  }
  
  /* Universal tags */
  * { box-sizing: border-box; }
  body { margin: 0; font-family: 'SUIT-Regular', sans-serif; cursor: default; }
  a { text-decoration: none; color: var(--color-white); }
  ul { list-style: none; padding-left: 0; }
  button { background-color: transparent; border: none; cursor: pointer; outline: none; }

  /* font */
  @font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  /* Typography */
  h1 { margin: 16px 0; font-size: var(--font-large); font-weight: var(--weight-bold); color: var(--color-black); }
  h2 { margin: 8px 0; font-size: var(--font-medium); font-weight: var(--weight-semi-bold); color: var(--color-black); }
  h3 { margin: 8px 0; font-size: var(--font-regular); font-weight: var(--weight-regular); color: var(--color-black); }
  p { margin: 4px 0; font-size: var(--font-regular); font-weight: var(--weight-regular); color: var(--color-black); }

  /* Navbar */
  #navbar { display: flex; justify-content: space-between; align-items: center; position: fixed; transition: all var(--animation-duration) ease-in-out; z-index: 99; padding: 16px; width: 100%; color: var(--color-white); background-color: transparent; }
  #navbar.navbar-dark { padding: 8px; background-color: var(--color-black); }
  .navbar__logo { display: flex; align-items: center; font-size: var(--font-medium); font-weight: var(--weight-semi-bold); }
  .navbar__logo__img { margin-right: 8px; width: 50px; }
  .navbar__menu { display: flex; }
  .navbar__menu__item { margin: 0 4px; padding: 8px 12px; border-radius: var(--size-border-radius); cursor: pointer; }
  .navbar__menu__item.active { border: 1px solid var(--color-white); }
  .navbar__menu__item:hover { background-color: var(--color-light-grey); }
  
  .navbar__toggle-btn { display: none; position: absolute; top: 28px; right: 32px; color: var(--color-white); font-size: 24px; }

  /* home */
  #home { padding: 40px; padding-top: 120px; background: url(imgs/bg.png) 100% 100% / cover no-repeat; text-align: center; }
  .home__avatar { width: 250px; height: 250px; object-fit: cover; object-position: 0% 20%; border: 2px solid var(--color-light-white); border-radius: 50%; }
  .home__title,
  .home__description { color: var(--color-white); }
  .home__name { color: var(--color-orange); }
  .home__contact { margin: 24px; padding: 8px 12px; border: 2px solid var(--color-white); border-radius: var(--size-border-radius); color: var(--color-white); font-size: var(--font-regular); font-weight: var(--weight-old); }
  .home__contact:hover { background-color: var(--color-sky); }

  /* Section common */
  .section { margin: 0 auto; padding: 50px; padding-top: 80px; text-align: center; }
  .section__container { margin: 0 auto; max-width: 1200px; }

  /* About */
  .about__title { display: inline-block; padding-bottom: 16px; border-bottom: 3px solid var(--color-light-white); }
  .about__majors { display: flex; flex-wrap: wrap;  margin: 40px auto 20px; }
  .major { width: 33.3333%; margin: 20px auto; }
  .major__wrap { display: flex; flex-flow: row nowrap; width: 100%; max-width: 258px; margin: 0 auto; }
  .major__icon { margin-right: 30px; color: var(--color-orange); font-size: 36px; }
  .major__icon i { width: 36px ;}
  .major__info { text-align: start;}
  .major__title { color: var(--color-dark-grey); font-size: calc(var(--font-medium) / 1.3)}
  .major__description { color: var(--color-dark-grey); font-size: var(--font-regular); }
  .about__activity { margin-left: 47px; }
  .education,
  .certificate { display: flex; align-items: center; margin-bottom: 20px; }
  .education__title,
  .certificate__title { text-align: start; width: 55px; font-size: var(--font-regular); font-weight: bold; }
  .education__description,
  .certificate__name { margin: 0 16px; text-align: left; }
  .certificate__name { color: var(--color-light-grey); font-size: var(--font-small); }
  .education__name,
  .education__period { margin: 0; color: var(--color-light-grey); font-size: var(--font-small); }
  .education__period { font-size: var(--font-micro); }

  /* Skill */
  #skills { background-color: var(--color-orange); }
  .skillset { display: flex; justify-content: space-between; margin-top: 40px; }
  .skillset__contents { display: flex; flex-direction: column; }
  .skillset__content { max-width: 276px; height: 100%; margin: 0 20px; padding: 24px; margin-bottom: 26px; background-color: var(--color-white); border-radius: 16px; box-shadow: 5px 5px 5px 5px var(--color-light-grey); transition: all .1s ease-in; }
  .skillset__content:hover { transform: translateY(2%); }
  .skillset__title { padding-bottom: 12px; border-bottom: 2px solid var(--color-light-white); color: var(--color-sky); text-align: start; }

  /* Work */
  #work { background-color: var(--color-light-black); }
  .work__title { color: var(--color-white); }
  .work__subtitle { color: var(--color-white); font-size: var(--font-medium); }
  .work__projects { margin: 40px 0; }
  .project { padding: 40px; margin-bottom: 40px; background-color: var(--color-white); border-radius: 16px; box-shadow: 5px 5px 5px 5px var(--color-black); }
  .project__title { font-size: calc(var(--font-large) / 1.3); }
  .project__period { color: var(--color-light-grey); }
  .project__content { display: flex; margin-top: 40px; }
  .project__left { position: relative; width: 45%; margin-right: 32px; }
  .project__slide-box { width: 100%; overflow: hidden; }
  .project__slide-list { display: flex; flex-flow: row nowrap; height: 500px; }
  .project__slide-content { width: 100%; min-width: 100%;  }
  .project__slide-img { width: 100%; height: 100%; object-fit: contain; }
  .project__slide-btns { display: flex; justify-content: center; margin-top: 16px; }
  .project__slide-pagination { width: 27px; margin: 0 12px; }
  .project__right { width: calc(55% - 32px); text-align: start; }
  .project__description { font-size: var(--font-small); }
  .project__description--emphasis { color: var(--color-red); font-weight: bold; }
  .project__moreBtn { display: inline-block; margin: 16px 0; padding: 8px 16px; background-color: var(--color-light-black); color: var(--color-white); border-radius: 4px; font-size: var(--font-small); font-weight: bold; }
  .project__moreBtn:hover { background-color: var(--color-grey); }
  .project__summary { display: flex; margin-top: 20px; }
  .project__label { min-width: 130px; font-size: var(--font-regular); font-weight: bold; }
  .project__url { color: var(--color-blue); word-break: break-all; }
  .project__url:hover { text-decoration: underline; }

  /* archiving */
  #archiving { background-color: var(--color-light-white); }
  .archiving__container { display: flex; margin: 40px 0; text-align: start; }
  .archive { display: inline-block; margin: 0 auto; padding: 32px; width: 416px; background-color: var(--color-white); border-radius: 16px; transition: all .1s ease-in; box-shadow: 5px 5px 5px 5px var(--color-light-grey); }
  .archive:hover { transform: translateY(2%); }
  .archive__img { width: 192px; margin-bottom: 20px; }
  .archive__link { color: var(--color-blue); display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden }
  .archive:hover .archive__link { text-decoration: underline; }
  .archive__descriptions { padding-left: 20px; }
  .archive__description { margin-bottom: 6px; color: var(--color-black); list-style: initial; }

  /* Contact */
  #contact { padding-top: 0; background-color: var(--color-black); }
  .contact__title { padding: 32px 0; margin: 0; color: var(--color-white); }
  .contact__email { color: var(--color-white); }
  .contact__link { color: var(--color-white); font-size: var(--font-large); }
  .contact__link i:hover { transform: scale(1.1); }
  .contact__rights { color: var(--color-white); }

  /* Arrow up */
  .arrow-up { position: fixed; right: 50px; bottom: 50px; width: 70px; height: 70px; transition: opacity var(--animation-duration) ease-in; background-color: var(--color-black); border-radius: 50%; color: var(--color-white); font-size: 50px; line-height: 70px; opacity: 0; pointer-events: none; }
  .arrow-up:hover { transform: scale(1.1); }
  .arrow-up.visible { opacity: 1; pointer-events: auto; }

  /* For below 1024px screen width */
  @media screen and (max-width: 1024px) {
    .project__content { flex-direction: column; }
    .project__left,
    .project__right { width: 100%; margin: 20px 0; }
    .project__moreBtn {  }
    .archiving__container { flex-direction: column; }
    .archive { margin-bottom: 26px; }
  }

  /* For below 768px screen width */
  @media screen and (max-width: 768px) {
    :root {
      /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
    }
    .navbar__toggle-btn { display: block; top: 24px; right: 16px; font-size: var(--font-medium); }
    #navbar { flex-direction: column; align-items: flex-start; background-color: var(--color-black); }
    #navbar.navbar-dark { padding: 16px; }
    .navbar__logo__img { width: 35px; }
    .navbar__menu { display: none; flex-direction: column; text-align: center; width: 100%; }
    .navbar__menu.open { display: block; }
    .section { padding: 16px; padding-top: 50px; }
    .about__majors { margin-top: 30px; margin-bottom: 0; }
    .major { width: 50%; margin-bottom: 30px; }
    .skillset { flex-direction: column; align-items: center; }
    .skillset__contents { flex-direction: row; }
    #contact { padding-top: 0; }
    .arrow-up { right: 16px; bottom: 16px; width: 50px; height: 50px; font-size: 30px; line-height: 50px; }
  }

  /* For below 586px screen width */
  @media screen and (max-width: 586px) {
    :root {
      /* Font size */
    --font-large: 38px;
    --font-medium: 24px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
    }
    .major { width: 100%; }
    .about__activity { margin: 0; }
    .education, .certificate { justify-content: center;  }
    .education__title, .certificate__title { text-align: end; }
  }