/* 레이아웃 */
#wrap-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 23;
}
#intro {
}
#header {
  position: fixed;
  width: 100%;
  transition: all 300ms ease-in;
  z-index: 23;
}
#header:hover {
  background-color: #062c5e;
}
#header.fixed {
  background-color: #062c5e;
}
#home {
}
#benefit {
  padding: 100px 0;
}
#lineup {
  padding-bottom: 100px;
}
#event {
  padding-bottom: 100px;
  background-color: #f5f5f5;
}
#footer {
  margin-top: 140px;
  padding: 0 0 40px;
}
#side-nav {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(50%);
  width: 288px;
  height: auto;
  background-color: #fff;
  opacity: 0;
  z-index: 23;
  transition: all 300ms ease-in-out;
}
#side-nav.active {
  opacity: 1;
  transform: translateX(0);
}

/* Container, Row */
.container {
  padding: 0 5%;
}
.row {
  width: 83.3333%;
  max-width: 1280px;
  margin: 0 auto;
}

/* title */
.section-title {
  margin-bottom: 48px;
  font-size: 44px;
  font-weight: 500;
}

/* button */
.moreBtn {
  display: inline-block;
  padding: 13px 17px;
  border-radius: 18px;
  box-sizing: border-box;
  border: 1px solid #fff;
  color: #fff;
  transition: all 300ms ease;
}
.moreBtn:hover {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #444;
}
.detailBtn {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: transparent;
  background-repeat: no-repeat;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}
.closeBtn {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  font-size: 25px;
  line-height: 25px;
}

/* 헤더 */
.header {
  position: relative;
}
.header__logo {
  position: relative;
  top: 21px;
  margin: 0 auto;
  width: 250px;
  z-index: 12;
}
.header__logo a {
  display: inline-block;
  padding: 15px;
}
.header__logo a img {
  width: 100%;
}
.header__utils {
  position: absolute;
  top: 30px;
  width: 100%;
  text-align: right;
}
.utils__languages {
  display: block;
  float: left;
  font-size: 0;
}
.language {
  display: inline-block;
  margin-right: 16px;
}
.language.active {
  border-bottom: 1px solid #fff;
}
.language a {
  color: #fff;
  font-size: 16px;
}
.utils__search-toggle {
  display: inline-block;
  right: 6px;
  padding: 5px 12px;
  color: #fff;
  font-size: 15px;
}
.utils__search-toggle::before {
  content: "\f002";
  font-family: "FontAwesome";
  font-weight: 300;
}
.utils__search {
  display: none;
  position: relative;
  border-bottom: 1px solid #fff;
}
#search-input {
  width: 130px;
  padding: 0 0px 5px 5px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  line-height: 22px;
}
#search-input::placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}
.search-go {
  display: inline-block;
  padding: 5px 12px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
}
.search-go::before {
  content: "\f002";
  font-family: "FontAwesome";
  font-weight: 300;
}
.utils__toggle-sideNav {
  display: none;
  position: relative;
  margin: 3px 0 0 11px;
  padding-left: 6px;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
}
.utils__toggle-sideNav::before {
  content: "\f0c9";
  font-family: "FontAwesome";
  font-weight: 300;
}
.utils__toggle-sideNav::after {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 1px;
  height: 27px;
  background-color: #685a57;
}

.header__nav {
  margin-top: 15px;
}
.nav__items {
  font-size: 0;
  text-align: center;
}
.nav__item {
  display: inline-block;
}
.nav__item a {
  display: block;
  padding: 25px 22px;
  color: #fff;
  font-size: 14px;
}
.nav__item a span {
  position: relative;
}
.nav__item a span::after {
  display: none;
  content: "";
  position: absolute;
  left: 0;
  bottom: -25px;
  width: 100%;
  height: 4px;
  background-color: #92b4e2;
}
.nav__item:hover a span::after {
  display: block;
}
.nav__item a span.active::after {
  display: block;
}

/* 홈 */
.home__contents {
  width: 100%;
  height: 100%;
}
.home__contents video {
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}
.contents__info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.contents__info span {
  display: inline-block;
  position: relative;
  color: #fff;
  font-size: 18px;
}
.contents__info span::after,
.contents__info span::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 80px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}
.contents__info span::before {
  left: -50%;
}
.contents__info span::after {
  right: -50%;
}
.contents__info h3 {
  margin-top: 24px;
  color: #fff;
  font-size: 43px;
}
.contents__info p {
  margin: 18px 0;
  color: #fff;
  font-size: 18px;
}
.contents__info .moreBtn {
  margin-top: 10px;
}
.home .slider-nav.previous {
  left: 40px;
}
.home .slider-nav.next {
  right: 40px;
}

.home__contents-menu {
  background-color: #f5f5f5;
}
.contents-menu__items {
  font-size: 0;
  text-align: center;
}
.contents-menu__item {
  display: inline-block;
}
.contents-menu__item a {
  display: block;
  padding: 21px 73px 28px;
  color: #000;
  font-size: 20px;
}
.contents-menu__item a span {
  position: relative;
}
.contents-menu__item a span::after {
  display: none;
  content: "";
  position: absolute;
  bottom: -28px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #444;
}
.contents-menu__item a span.active::after {
  display: block;
}

/* 혜택 */
.benefit {
  position: relative;
}
.benefit__item {
  float: left;
  padding: 20px;
  margin: 0 1%;
  width: 23%;
  box-sizing: border-box;
  background-color: #f6f3f2;
}
.benefit__item h3 {
  color: #000;
  font-size: 22px;
  font-weight: 500;
}
.benefit-item__img {
  line-height: 274px;
}
.benefit-item__img img {
  transition: all 300ms ease;
  vertical-align: middle;
}
.benefit-item__img:hover img {
  transform: scale(1.1);
}
.benefit-item__desc {
  height: 100px;
}
.benefit-item__desc em {
  display: block;
  font-size: 24px;
  font-weight: 400;
}
.benefit-item__desc span {
  display: block;
  color: #000;
  font-size: 24px;
  font-weight: 400;
}
.benefit .moreBtn {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid #cccccc;
  color: #000;
  font-size: 14px;
}
.benefit .moreBtn:hover {
  background-color: #444;
  color: #fff;
}

/* 라인업 */
.lineup .section-title {
  text-align: center;
}
.lineup__type {
  position: relative;
}
.type-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 455px;
  z-index: -1;
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}
.type-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
}
.type-name {
  padding: 115px 0 68px;
  color: #fff;
  text-align: center;
  font-size: 45px;
  font-weight: 500;
}
.type__items {
  margin-top: 35px;
  width: 100%;
  height: 100%;
  font-size: 0;
  text-align: center;
}
.type__item {
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin: 0 0.5%;
  width: 19%;
  height: 200px;
}
.type__item a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.type__item a img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  transition: all 300ms ease-out;
}
.type__item:hover a img {
  transform: scale(1.1);
}
.type__item a span {
  position: absolute;
  bottom: 40px;
  left: 20px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.lineup .detailBtn {
  position: absolute;
  right: 20px;
  bottom: 40px;
  transition: all 300ms ease-out;
}
.type__item:hover .detailBtn {
  background-color: #fff;
  color: #222;
}
.type__desc {
  margin: 60px auto 75px;
  width: 64%;
}
.type__desc h4 {
  text-align: center;
  font-size: 28px;
  color: #222;
}
.type__desc span {
  display: inline-block;
  margin: 18px 0;
  text-align: center;
  font-size: 18px;
  color: #444;
}
.lineup .moreBtn {
  display: none;
  float: right;
  border: 1px solid #ccc;
  color: #222;
}
.lineup .moreBtn:hover {
  background-color: #222;
  color: #fff;
}

/* 이벤트 */
.event {
  padding-top: 115px;
}
.event .section-title {
  text-align: center;
}
.event__contents {
  overflow: hidden;
  position: relative;
}
.event__contents img {
  transition: all 300ms ease-out;
}
.event__contents:hover img {
  transform: scale(1.1);
}
.event__contents .contents__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #e6e2e3e6;
  opacity: 0;
  transition: all 300ms ease-out;
}
.event__contents:hover .contents__info {
  opacity: 1;
}
.contents__info em {
  padding: 5%;
  color: #444;
  font-size: 18px;
  font-weight: 400;
}
.event .moreBtn {
  border: 1px solid #444;
  color: #444;
}
.event .moreBtn:hover {
  border: 1px solid #444;
  background-color: #444;
  color: #fff;
}
.event h3 {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}
.event .swiper-pagination {
  margin-top: 55px;
}
.event .swiper-button-prev,
.event .swiper-button-next {
  top: 34%;
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: all 300ms ease;
  color: #fff !important;
}
.event .swiper-button-prev:hover,
.event .swiper-button-next:hover {
  transform: scale(1.1);
  background-color: #fff;
  color: #222 !important;
}
.event .swiper-button-prev::after,
.event .swiper-button-next::after {
  font-size: 24px;
}

/* 푸터 */
.footer {
  position: relative;
}
.footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #f5f5f5;
}
.footer__go-to-top {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.go-to-topBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid #f5f5f5;
  border-radius: 50%;
  color: #707070;
  font-size: 11px;
  background-color: #fff;
  transition: all 300ms ease-out;
}
.go-to-topBtn:hover {
  background-color: #444;
  border: 1px solid #ccc;
  color: #fff;
}
.footer__link {
  padding-top: 43px;
}
.link__items {
  text-align: center;
  font-size: 0;
}
.link__item {
  display: inline-block;
  position: relative;
  margin: 0 0 15px 10px;
  font-size: 14px;
  font-weight: 300;
}
.link__item:hover a {
  border-bottom: 1px solid #005295;
  color: #005295;
}
.link__item:not(:first-child):before {
  content: "";
  position: absolute;
  top: 50%;
  left: -5px;
  transform: translateY(-50%);
  width: 1px;
  height: 10px;
  background-color: #e0e0e0;
}
.link__item a {
  color: #444;
}
.footer__contact {
  padding: 7px 0 23px;
}
.footer__contact span {
  display: block;
  margin-bottom: 5px;
  text-align: center;
  color: #444;
  font-size: 11px;
  font-weight: 300;
}
.contact__items {
  text-align: center;
  font-size: 0;
}
.contact__item {
  display: inline-block;
  margin: 0 6px;
  font-size: 24px;
}
.contact__item:hover .fa-youtube,
.contact__item:hover .fa-instagram {
  color: #e62117;
}
.contact__item:hover .fa-twitter,
.contact__item:hover .fa-facebook-square {
  color: #0073b1;
}
.contact__item a {
  color: #444;
}
.copyright {
  text-align: center;
  color: #444;
  font-weight: 300;
}

/* 사이드메뉴 */
.side-nav {
  position: relative;
  height: 100vh;
  padding: 0 24px;
}
.side-nav__logo {
  border-bottom: 1px solid #e0e0e0;
}
.side-nav__logo a {
  display: inline-block;
  width: ;
  padding: 19px 10px 16px 5px;
}
.side-nav__logo a img {
  width: 100%;
  height: 20px;
}
.side-nav__nav {
  padding: 95px 0 125px;
}
.side-nav__nav li {
  position: relative;
  border-bottom: 1px solid #e0e0e0;
}
.side-nav__nav li a {
  display: block;
  position: relative;
  padding: 14px 20px 12px 4px;
  font-size: 16px;
  color: #444;
  z-index: 1;
}
.side-nav__nav li span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  font-size: 16px;
  color: #444;
  opacity: 0.6;
}
.side-nav__languages {
  font-size: 0;
}
.side-nav__languages .language.active a {
  border-bottom: 2px solid #444;
  opacity: 1;
}
.side-nav__languages .language a {
  font-size: 16px;
  color: #444;
  opacity: 0.6;
}
.side-nav__close {
  position: absolute;
  top: 13px;
  right: 24px;
  width: 30px;
  height: 30px;
}


/* 미디어쿼리 */
@media (max-width: 1279px) {
  .row {
    width: 100%;
  }

  .contents__info h3 {
    margin: 42px 0 12px 0;
  }
  .contents__info p {
    display: none;
  }
  .home .slider-nav.next {
    right: 10px;
  }
  .home .slider-nav.previous {
    left: 10px;
  }

  .event h3 {
    font-size: 19px;
    font-weight: 500;
    text-align: center;
  }
  .event .swiper-button-prev,
  .event .swiper-button-next {
    width: 50px;
    height: 50px;
  }
  .contents__info em {
    font-size: 14px;
  }
  .event .moreBtn {
    padding: 9px 24px;
  }
}

@media (max-width: 1023px) {
  #header {
    background: #062c5e;
  }
  .header__logo {
    position: static;
    margin: unset;
    width: 170px;
  }
  .header__logo a {
    padding: 22px 0 21px;
  }
  .header__utils {
    top: 15px;
    right: 0;
    width: unset;
  }
  .utils__languages {
    display: none;
  }
  .utils__search {
    display: none;
  }
  .utils__toggle-sideNav {
    display: inline-block;
  }
  .utils__toggle-sideNav::after {
    display: block;
  }

  .header__nav {
    display: none;
  }

  .benefit__item {
    width: 48%;
    margin-bottom: 2%;
  }

  .type-bg {
    height: 900px;
  }
  .type__item {
    width: 48%;
    height: 344px;
    max-height: inherit;
    margin: 0 1%;
    margin-bottom: 2%;
  }
  .type__item:nth-child(5) {
    display: none;
  }
  .type__desc {
    width: 100%;
    margin: 60px auto 32px;
  }
  .lineup .moreBtn {
    display: block;
  }
}

@media (max-width: 767px) {
  #benefit {
    padding: 54px 0;
  }
  #lineup {
    padding-bottom: 54px;
  }
  #event {
    padding-bottom: 54px;
  }
  #footer {
    margin-top: 80px;
  }

  .section-title {
    font-size: 28px;
  }

  .home .slider-container {
    height: 771px;
  }
  .home .slider-nav {
    bottom: -60px;
  }
  .home .slider-nav button {
    border: 1px solid #cacaca;
    color: #716c6e;
    font-size: 20px;
  }

  .contents-menu__item {
    display: none;
    width: 100%;
  }
  .contents-menu__item.active {
    display: block;
  }
  .contents-menu__item a span.active::after {
    display: none;
  }

  .benefit__item h3 {
    font-size: 20px;
  }
  .benefit-item__desc em {
    font-size: 20px;
  }
  .benefit-item__desc span {
    font-size: 20px;
  }
  .benefit-item__img {
    line-height: 210px;
  }

  .type-bg {
    height: 694px;
  }
  .type-name {
    padding: 100px 0 62px;
    font-size: 24px;
  }
  .type__item {
    width: 48%;
    height: 251px;
    max-height: inherit;
    margin: 0 1%;
    margin-bottom: 2%;
  }
  .type__item a span {
    font-size: 15px;
  }
  .lineup .detailBtn {
    width: 30px;
    height: 30px;
  }
  .type__desc h4 {
    font-size: 23px;
  }
  .type__desc span {
    font-size: 16px;
  }

  .event {
    padding-top: 55px;
  }
  .event .moreBtn {
    padding: 13px 17px;
  }
  .event h3 {
    font-size: 22px;
  }
  .event .swiper-button-prev, 
  .event .swiper-button-next {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 599px) {
  .section-title {
    text-align: center;
  }

  .benefit .moreBtn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    text-align: center;
  }
  .benefit .moreBtn {
    width: 30%;
    font-size: 16px;
  }

  .type-bg {
    height: 607px;
  }
  .type__item {
    height: 205px;
    max-height: 205px;
  }
}

@media (max-width: 479px) {
  .benefit-item__img {
    line-height: 127px;
  }
  .benefit-item__desc em {
    font-size: 18px;
  }
  .benefit-item__desc span {
    font-size: 18px;
  }
  .benefit .moreBtn {
    font-size: 14px;
  }

  .type-bg {
    height: 563px;
  }
  .type__item {
    height: 183px;
    max-height: 205px;
  }

  .event h3 {
    position: absolute;
    left: 0;
    bottom: 149px;
    width: 100%;
    text-align: center;
    font-size: 22px;
  }
  .event__contents .contents__info {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    opacity: 1;
    background-color: #f5f5f5;
    padding: 123px 0 16px;
  }
  .contents__info em {
    font-size: 18px;
  }
  .event .moreBtn {
    padding: 9px 24px;
  }
  .event .swiper-pagination {
    position: absolute;
    bottom: 233px;
    left: 0;
  }
  .event .swiper-button-prev, 
  .event .swiper-button-next {
    top: 27%;
  }
}
