<header xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="header">
  <div class="header__container container">
    <div class="header__wrapper">
      <div class="header__logo-area">
        <a href="../html/index.html" th:href="@{/}" class="header__logo">
          <img src="https://reviewshare.io/static/media/reviewshare_logo.057c3bd3.svg" alt="logo">
        </a>
      </div>
      <nav class="header__nav">
        <ul class="header__menu">
          <li class="header__menu-item">
            <a href="../html/index.html" th:href="@{/}" class="header__menu-link">Home</a>
          </li>
          <li class="header__menu-item">
            <a href="../html/contents.html" class="header__menu-link">Contents</a>
          </li>
          <li class="header__menu-item">
            <a href="../html/myPage-profile.html" class="header__menu-link">MyPage</a>
          </li>
        </ul>
        <ul class="header__util-buttons">
          <li class="header__util-button">
            <button type="button" class="util-btn" onclick="location.href='/login'"
                    th:onclick="|location.href='@{/login}'|" sec:authorize="isAnonymous()">Login</button>
            <button type="button" class="util-btn" onclick="location.href='/logout'"
                    th:onclick="|location.href='@{/logout}'|" sec:authorize="isAuthenticated()">Logout</button>
          </li>
          <li class="header__util-button">
            <button type="button" class="util-btn" onclick="location.href='/signUp'"
                    th:onclick="|location.href='@{/signUp}'|" sec:authorize="isAnonymous()">SignUp</button>
            <button type="button" class="util-btn" onclick="location.href='/signUp'"
                    th:onclick="|location.href='@{/review/new}'|" sec:authorize="isAuthenticated()">글쓰기</button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<!-- header -->