<footer class="footer" xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
  <div class="footer__container container">
    <header class="section__headings">
      <h2 class="section__heading section__heading--white">Let's talk</h2>
    </header>
    <article class="section__content">
      <ul class="footer__contact">
        <li class="footer__contact-item">
          <a href="#" class="footer__contact-link">
            <img src="../icon/email.svg" alt="email">
          </a>
        </li>
        <li class="footer__contact-item">
          <a href="#" class="footer__contact-link">
            <img src="../icon/facebook.svg" alt="facebook">
          </a>
        </li>
        <li class="footer__contact-item">
          <a href="#" class="footer__contact-link">
            <img src="../icon/instagram.svg" alt="instagram">
          </a>
        </li>
        <li class="footer__contact-item">
          <a href="#" class="footer__contact-link">
            <img src="../icon/github.svg" alt="github">
          </a>
        </li>
      </ul>
      <p class="footer__copyright">
        Copyright ⓒ 2022 - All rights reserved by wjdghks95
      </p>
    </article>
  </div>
</footer>
<!-- footer -->