<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="LeeJeongHwan">
    <meta description="내가 내돈으로 직접 주고 산 제품이나 경험과 같은 모든 것들의 좋았던 점 또는 아쉬웠던 점을 사람들과 공유할 수 있는 웹 애플리케이션">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="../css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../css/myPage.css" th:href="@{/css/myPage.css}">
    <title>회원 탈퇴</title>
</head>
<body>
    <header th:replace="~{fragment/fragment-header :: header}"></header>
    <!-- header -->

    <main class="withdrawal">
        <section class="withdrawal-content">
            <div class="withdrawal-content__container container">

                <aside class="myPage-side-menu">
                    <ul class="myPage-side-menu__list">
                        <li class="myPage-side-menu__item">
                            <a href="../html/myPage-profile.html" th:href="@{'/myPage/profile/'+${#authentication.principal.member.id}}" class="myPage-side-menu__link">프로필</a>
                        </li>
                        <li class="myPage-side-menu__item">
                            <a href="../html/myPage-myReview.html" th:href="@{'/myPage/myReview/'+${#authentication.principal.member.id}}" class="myPage-side-menu__link">나의 리뷰</a>
                        </li>
                        <li class="myPage-side-menu__item">
                            <a href="../html/myPage-like.html" th:href="@{'/myPage/like/'+${#authentication.principal.member.id}}" class="myPage-side-menu__link">좋아요</a>
                        </li>
                        <li class="myPage-side-menu__item">
                            <a href="../html/myPage-following.html" th:href="@{'/myPage/following/'+${#authentication.principal.member.id}}" class="myPage-side-menu__link">팔로잉</a>
                        </li>
                        <li class="myPage-side-menu__item active">
                            <a href="../html/myPage-withdrawal.html" th:href="@{'/myPage/withdrawal/'+${#authentication.principal.member.id}}" class="myPage-side-menu__link">회원 탈퇴</a>
                        </li>
                    </ul>
                </aside>
                <!-- myPage-side-menu -->

                <article class="section__content">
                    <form action="/myPage/withdrawal/1" th:action method="post" th:object="${memberWithdrawalDto}" class="withdrawal-content__form">
                        <header class="section__headings">
                            <h2 class="section__heading">회원 탈퇴</h2>
                        </header>
                        <div class="withdrawal-content__description withdrawal-content__description--red">
                            <span>탈퇴한 아이디는 본인과 타인 모두 재사용 및 복구가 불가하오니 신중하게 선택하시기 바랍니다.</span>
                        </div>
                        <div class="withdrawal-content__description">
                            <span>회원탈퇴 완료 후 복구가 불가한 것에 대해 인지하였으며 동의합니다.</span>
                            <label class="withdrawal-content__label">
                                <input type="checkbox" class="withdrawal-content__checkbox" th:field="*{check1}"> 동의
                            </label>
                        </div>
                        <div class="withdrawal-content__description">
                            <span>회원탈퇴 시 주의사항에 대해 확인하였으며 회원탈퇴에 동의합니다.</span>
                            <label class="withdrawal-content__label">
                                <input type="checkbox" class="withdrawal-content__checkbox" th:field="*{check2}"> 동의
                            </label>
                        </div>
                        <ul class="withdrawal-content__buttons">
                            <li class="withdrawal-content__button">
                                <button type="submit" class="default-btn">확인</button>
                            </li>
                            <li class="withdrawal-content__button">
                                <button type="button" class="default-btn default-btn--white" onclick="location='../html/mypage-profile.html'"
                                    th:onclick="|location.href='@{/myPage/profile/{id}(id=${member.id})}'|">취소</button>
                            </li>
                        </ul>
                    </form>
                </article>
            </div>
        </section>
        <!-- myPage-withdrawal -->
    </main>
    <!-- withdrawal -->

    <footer th:replace="~{fragment/fragment-footer :: footer}"></footer>
    <!-- footer -->
</body>
</html>