<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="LeeJeongHwan">
    <meta description="내가 내돈으로 직접 주고 산 제품이나 경험과 같은 모든 것들의 좋았던 점 또는 아쉬웠던 점을 사람들과 공유할 수 있는 웹 애플리케이션">
    <link rel="shortcut icon">
    <link rel="stylesheet" href="../css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../css/myPage.css" th:href="@{/css/myPage.css}">
    <script src="../js/myPage.js" th:src="@{/js/myPage.js}" defer></script>
    <title>팔로잉</title>
</head>
<body>
<header th:replace="~{fragment/fragment-header :: header}"></header>
    <!-- header -->

    <main class="following">
        <section class="following-content">
            <div class="following-content__container container">

                <aside class="myPage-side-menu">
                    <ul class="myPage-side-menu__list">
                        <li class="myPage-side-menu__item">
                            <a href="myPage_profile.html" th:href="@{'/myPage/profile/'+${#authentication.principal.member.id}}" class="myPage-side-menu__link">프로필</a>
                        </li>
                        <li class="myPage-side-menu__item">
                            <a href="myPage_myReview.html" th:href="@{'/myPage/myReview/'+${#authentication.principal.member.id}}" class="myPage-side-menu__link">나의 리뷰</a>
                        </li>
                        <li class="myPage-side-menu__item">
                            <a href="myPage_like.html" th:href="@{'/myPage/like/'+${#authentication.principal.member.id}}" class="myPage-side-menu__link">좋아요</a>
                        </li>
                        <li class="myPage-side-menu__item active">
                            <a href="myPage_following.html" th:href="@{'/myPage/following/'+${#authentication.principal.member.id}}" class="myPage-side-menu__link">팔로잉</a>
                        </li>
                        <li class="myPage-side-menu__item">
                            <a href="myPage_withdrawal.html" th:href="@{'/myPage/withdrawal/'+${#authentication.principal.member.id}}" class="myPage-side-menu__link">회원 탈퇴</a>
                        </li>
                    </ul>
                </aside>
                <!-- myPage-side-menu -->

                <article class="section__content">
                    <header class="section__headings">
                        <h2 class="section__heading">팔로잉</h2>
                    </header>
                    <ul class="following-content__following-list">
                        <li class="following-content__following-item" th:each="following : ${followingList}">
                            <div class="following-content__following-info">
                                <a href="#" th:href="@{/profile/{id}(id=${following.follower.id})}" class="following-content__following-link">
                                    <div class="following-content__following-image">
                                        <img src="../img/profile.png" th:src="'data:image/png;base64,' + ${following.follower.profileImage}" onerror="this.src='/images/profile'" alt="프로필">
                                    </div>
                                    <span class="following-content__following-nickname" th:text="${following.follower.nickname}">nickname</span>
                                </a>
                            </div>
                            <div class="following-content__following-button" th:data-index="${following.follower.id}">
                                <button class="follow-btn active">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="width:10px; height:10px;"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg> 팔로잉
                                </button>
                            </div>
                        </li>
                    </ul>
                </article> 
            </div>
        </section>
        <!-- myPage-profile -->
    </main>

    <footer th:replace="~{fragment/fragment-footer :: footer}"></footer>
    <!-- footer -->
</body>
</html>