/* category */
.category__container {
    padding-bottom: 2rem;
}

.slide-swiper {
    padding: 0 1.875rem !important;
}

.category__item {
    text-align: center;
}

.category-btn {
    padding: .75rem 1rem;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: var(--font-small);
    font-weight: bold;
    cursor: pointer;
}

.category-btn.active {
    border-bottom: 3px solid var(--color-blue);
}

.category__viewer-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 1.25rem 0;
}

.category__viewer-button {
    width: 1.75rem;
    height: 1.75rem;
    margin-left: 1.25rem;
}

.viewer-btn {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    background-repeat: no-repeat;
    filter: invert(10%) sepia(56%) saturate(4338%) hue-rotate(204deg) brightness(91%);
    transition: all .1s ease-in;
}

.viewer-btn.active {
    filter: invert(26%) sepia(74%) saturate(3738%) hue-rotate(209deg) brightness(100%);
}

.category__viewer-button:hover > .viewer-btn {
    filter: invert(26%) sepia(74%) saturate(3738%) hue-rotate(209deg) brightness(100%);
}

.category__content {
    margin-bottom: 1.5rem;
    text-align: center;
}

.category__content-item {
    flex-basis: 24%;
    margin: 0 .5% 1.5rem;
    overflow: hidden;  
}

.category__content-link {
    display: block;
    text-align: center;
}

.category__content-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category__content-title,
.category__content-author {
    display: inline-block;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.category__content-title > a:hover,
.category__content-author > a:hover {
    text-decoration: underline;
}

.category__content--gallery {
    /* display: none; */
    display: flex;
    flex-wrap: wrap;
}

.category__content--list {
    display: none; 
    /* display: table; */
    text-align: center;
    width: 100%;
    margin-bottom: 3rem;
    font-size: var(--font-small);
    font-weight: bold;
    border-collapse: collapse;
}

.category__content--list th {
    padding: 1rem;
    border-bottom: 2px solid var(--color-gray);
}

.category__content--list td {
    padding: .875rem;
    border-bottom: 1px solid var(--color-gray);
}

.category__content--board {
    display: none;
    /* display: flex; */
    flex-wrap: wrap;
}

.category__content-tag {
    font-size: var(--font-medium-small);
    font-weight: bold;
    color: var(--color-blue);
}

/* search-form */
.search-form__container {
    padding-top: 0;
}