.login-model__container {
    max-width: 768px;
}

.login-model__inner {
    padding: 4rem;
    border: 2px solid var(--color-gray);
    border-radius: 20px;
}

.login-model-type {
    margin-bottom: 3rem;
}

.login-model-type__headings {
    margin-bottom: 1.875rem;
}

.login-model-type__heading {
    margin-bottom: 1rem;
}

.login-model-type__subheading {
    color: var(--color-gray);
    font-weight: bold;
}

.form__label {
    font-size: var(--font-small) !important;
}

.find-account a {
    color: var(--color-gray);
}

.find-account a:first-child {
    position: relative;
    margin-right: 1.25rem;
}

.find-account a:first-child::after {
    content: "";
    position: absolute;
    right: -1rem;
    bottom: .3125rem;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    background-color: var(--color-gray);
    pointer-events: none;
}

.login-model-type__oauth2 {
    display: flex;
    height: 3.25rem;
}

.login-model__oauth2-provider {
    height: 100%;
    margin-right: 1.875rem;
}

.login-model__oauth2-link {
    display: block;
    height: 100%;
}