.default-btn {
    padding: .5rem 1rem;
    font-size: var(--font-small);
}

.add-btn {
    position: absolute;
    width: 5%;
    right: 0;
    top: 0;
    background-color: transparent;
    color: var(--color-gray);
}

.add-btn:hover {
    background-color: transparent;
}

.detail-review__container,
.comments__container {
    max-width: 1024px;
}

.detail-review__container {
    padding-bottom: 2rem;
}

.section__content {
    margin-bottom: 1.25rem;
}

.detail-review__header {
    margin-bottom: 1.25rem;
}

.detail-review__author {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail-review__author-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail-review__author-image {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    overflow: hidden;
}

.detail-review__author-nickname {
    margin-left: .625rem;
    font-size: var(--font-medium-small);
    font-weight: bold;
}

.detail-review__author-follow-button {
    width: 6.25rem;
}

.detail-review__tags {
    display: flex;
    margin: .625rem 0 0;
}

.detail-review__tag {
    margin-right: .5rem;
    color: var(--color-blue);
    font-size: var(--font-medium);
}

.detail-review__photo {
    height: 500px;
    margin-bottom: 1rem;
}

.detail-review__metadata {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail-review__satisfaction-level {
    display: flex;
    align-items: center;
    font-size: var(--font-medium-small);
    font-weight: bold;
}

.detail-review__created-date {
    font-size: var(--font-medium-small);
    font-weight: bold;
}

.detail-review__description {
    margin: 1rem 0;
    padding: 1.5rem;
    border: 1px solid var(--color-light-gray);
    word-wrap: break-word;
}

.detail-review__like {
    display: flex;
    align-items: center;
}

.detail-review__like-text {
    margin-left: .625rem;
    font-size: var(--font-medium-small);
    font-weight: bold;
}

.detail-review__like-count {
    margin-left: .3rem;
    font-size: var(--font-medium-small);
    font-weight: bold;
}

.section__heading.comment {
    margin-bottom: 1rem;
    font-size: var(--font-medium);
    font-weight: bold;
}

.section__subheading.comment {
    color: var(--color-light-gray);
    font-size: var(--font-micro);
}

.comments__container {
    padding-top: 0;
}

.comments__write {
    margin-bottom: 1.6rem;
}

.comments__author {
    display: flex;
    align-items: center;
    width: 10%;
}

.comments__author-image {
    margin-right: .625rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
}

.comments__author-nickname {
    font-size: var(--font-micro);
    font-weight: bold;
}

.comments__form {
    width: 90%;
}

.comments__input {
    position: relative;
    width: 100%;
}

.comments__input > input {
    padding-right: 3rem;
}

.comments__input > input::placeholder {
    font-size: var(--font-micro);
}

.field-error {
    margin-left: 6.5rem;
}

.comments__comment {
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--color-light-gray);
}

.comments__author-link {
    display: flex;
    align-items: center;
}

.comments__comment-content {
    padding: 1rem .625rem;
    word-wrap: break-word;
}