.default-btn {
    padding: 0.65rem;
    font-size: var(--font-micro);
}

.sign-up-model__container {
    max-width: 768px;
}

.sign-up-model__form {
    padding: 4rem;
    border: 2px solid var(--color-gray);
    border-radius: 20px;
}

#phone-check {
    display: none;
    margin-top: .3rem;
    justify-content: flex-start;
}

#phone-check-number {
    width: 50%;
    margin-right: .5rem;
}

.sign-up-model__phone-check-button {
    margin-right: .5rem;
}

#user-email-address {
    display: none;
    margin-right: .3rem;
}

#user-password-confirm,
#user-address,
#user-detail-address {
    margin-top: .3rem;
}

.email-symbol {
    margin: 0 0.625rem;
    line-height: 2.5rem;
}

.sign-up-model__submit-button {
    width: 20%;
    margin: 1.625rem auto 0;
}